body {
  font-family: "Lato", sans-serif;
  opacity : 100% !important;
  background-color:#dfdfdf;
  margin:0;
}

.main {
  padding-top: calc(4vh + 0.8%);
  margin-left: 20.01vh; /* Same as the width of the sidenav */
  display: flex;
  flex-direction: column;
}

.sidenav {
  height: 100%;
  width: 20vh;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}


.sidenav button {
  padding: 6px 6px 6px 32px;
  font-size: 1.2rem;
  color: #818181;
  display: flex;
  margin-bottom: 2vh;
  /* Firefox */
  -moz-transition: all 200ms ease-in;
   /* WebKit */
  -webkit-transition: all 200ms ease-in;
   /* Opera */
   -o-transition: all 200ms ease-in;
   /* Standard */
   transition: all 200ms ease-in;
   background: none;
   border: none;
   cursor:pointer;
   width: 100%;
   padding:6%;
   align-items: center;
   justify-content: center;
  }

.sidenav button:hover {
  color: #f1f1f1;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 0.9rem;}
  .sidenav button {font-size: 1.125rem;}
}

.dashboard-box {
  background: #fff;
  padding: 3vh;
  margin: 2vh;
  -webkit-box-shadow: 0px 13px 43px -13px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 13px 43px -13px rgba(66, 68, 90, 1);
  box-shadow: 0px 13px 43px -13px rgba(66, 68, 90, 1);
  height: 18vh;
  display: inline-flex;
}

.dashboard-box h2 {
  font-weight: 100;
}

.solid-chart-container {
    position: relative;
    width: 60vh !important;
    height: 20vh !important;
}

.header-admin-panel {
  width: 100%;
  background: #111;
  position: fixed;
  z-index: 999;
  padding: 0.8%;
  
}

.header-admin-user {
  display: flex;
  justify-content: right;
  margin-right: 4%;
}

.header-admin-user span {
  color: #fff;
  margin-right: 2vh;
  position: relative;
  top: 0.5vh;
    /* Firefox */
  -moz-transition: all 200ms ease-in;
    /* WebKit */
  -webkit-transition: all 200ms ease-in;
    /* Opera */
  -o-transition: all 200ms ease-in;
    /* Standard */
  transition: all 200ms ease-in;
}

.header-admin-user span:hover {
  color:#888888;
}


.header-admin-profile {
  background-size: cover;
  width: 28px;
  border-radius: 30px;
  height:28px;
  cursor:pointer;
     /* Firefox */
  -moz-transition: all 200ms ease-in;
     /* WebKit */
  -webkit-transition: all 200ms ease-in;
     /* Opera */
  -o-transition: all 200ms ease-in;
     /* Standard */
  transition: all 200ms ease-in;
  position:relative;
}

.header-admin-profile:hover {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

.header-admin-profile-context-menu {
  color:#fff;
  padding: 2%;
  background-color: #111;
  position: fixed;
  top: 5%;
  left: 87%;
  display:none;
  
}

.header-admin-profile-context-menu ol {
  padding:0;
  margin:0;
  display: grid;
  justify-items: center;
}

.header-admin-profile-context-menu ol li {
  list-style: none;
  width:100%;
  margin: 1.2vh;
  cursor: pointer;
  position:relative;
  padding: 0.5rem;
  font-size: 0.9rem;
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
}

.header-admin-profile-context-menu ol li:hover {
  background-color: #323232
}

.header-admin-profile-context-menu ol li:after {
  margin-bottom: -6%;
  content: "";
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
}

.system-info-box ol {
  list-style: disc;
}

.modules-add {
  /* flex-direction: column !important; */
}

.modules-add-right {
  display: inline-flex;
  justify-content: left;
  text-align: left;
}

.modules-add-list-box {
  display:none;
}

.modules-add-list-box ol {
  list-style:disc;
}

.modules-add-list-box ol li {
  margin-bottom: 5%;
}

.modules-add-list-box ol li a {
  color: #000;
  text-decoration: none;
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
}

.modules-add-list-box ol li a:hover {
  color: #888888;
}



.collapsible-sidenav-content {
  display: none;
  opacity: 0%;
  /* Firefox */
  -moz-transition: all 100ms ease-in;
  /* WebKit */
  -webkit-transition: all 100ms ease-in;
  /* Opera */
  -o-transition: all 100ms ease-in;
  /* Standard */
  transition: all 100ms ease-in;
}

.collapsible-sidenav-content ol {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size:1.0rem;
}

.collapsible-sidenav-content ol li {
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
  color: #818181;
  padding:0;
  margin-bottom: 1rem;
  cursor:pointer;
}

.collapsible-sidenav-content ol a {
  text-decoration: none;
}

.collapsible-sidenav-content ol li:hover {
  color: #fff;
}

.collapsible-sidenav-content .space-line{
  width: 24vh;
  height: 1px;
  background-color: #818181;
  display: flex;
  position: relative;
  margin-top:10%;
  right:20%;
}



.h2-main-add-templates {
  font-weight: 500;
  margin-top: 4vh;
  font-size: 1.8rem;
  margin-left:calc(50% - 20vh);
}

.form-add-template {
  /*margin-left: 6vh;*/
}

.form-add-template label {
  font-size: 1.5rem;
  
}

.table-main {
  background-color: #686868;
  border-collapse: collapse;
  margin: 3vh 3vh 3vh 2vh;
  font-size: 0.9em;
  font-family: sans-serif;
  color: #ffffff;
  width: calc(95%);
}

.table-main thead tr {
  background-color: #111;
  text-align: left;
}

.table-main th,
.table-main td {
  padding: 1rem 0.9375rem;
  font-weight: 100;
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
}


.table-main tbody tr {
  border-bottom: 1px solid #dddddd;
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
}

.check-icon {
  position:sticky;
  height: 3rem;
  width: 3rem;
  top:0;
  right:0;
  --checkicon-b-background: #fff;
  --checkicon-a-background: #fff;
  cursor:pointer;
  padding: 4%;
  border-radius: 5px;
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
}

.check-icon:before {
  content: '';
  width: 1.5rem;
  height: 0.4rem;
  position: absolute;
  transform: translate(-100%, 100%) rotate(40deg);
  border-radius: 0.4rem;
  top:50%;
  left:50%;
  background: var(--checkicon-b-background);
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
}

.check-icon:after {
  content: '';
  width: 2.4rem;
  height: 0.4rem;
  position: absolute;
  transform: translate(-30%, 0%) rotate(-45deg);
  border-radius: 0.4rem;
  top:50%;
  left:50%;
  background: var(--checkicon-a-background);
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
}

.active-row-pages-templates {
  background-color: #424242 !important;
}

.templates-select-current {
  position: relative;
  background-color: #888888;
  padding: 0.9rem;
  width: 12rem;
  font-size: 1rem;
  cursor:pointer;
  color:#111;
  --arrow-select-transform: rotate(0deg);
}

.templates-select-current:after {
  content: "";
  position:absolute;
  /* Firefox */
  -moz-transition: all 100ms ease-in;
  /* WebKit */
  -webkit-transition: all 100ms ease-in;
  /* Opera */
  -o-transition: all 100ms ease-in;
  /* Standard */
  transition: all 100ms ease-in;
  background-image: url('/Images/Icons/arrow_icon.svg');
  height: 15px;
  width: 15px;
  left: 85%;
  transform: var(--arrow-select-transform);
}

.templates-select {
  display:none;
  opacity:0%;
  /* Firefox */
  -moz-transition: all 100ms ease-in;
  /* WebKit */
  -webkit-transition: all 100ms ease-in;
  /* Opera */
  -o-transition: all 100ms ease-in;
  /* Standard */
  transition: all 100ms ease-in;
  background-color: #b9b9b9;
  width:12rem;
  padding:0.9rem;
  max-height: 20rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.templates-select-option {
  display:block;
  margin-bottom: 0.3vh;
  padding: 2%;
  width: 100%;
}

.templates-select-option {
  display:block;
  margin-bottom: 0.3vh;
  padding: 3%;
  width: 100%;
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
}

.templates-select-option:hover {
  background-color: #858383;
}

.main-add-templates-box {
  padding: 0.1vh;
  background-color: #b5b4b4;
  width: 99.8%;
  margin-bottom:4vh;
}

.main-title-page {
  padding: 0.1vh;
  background-color: #666;
  width: 99.8%;
  display: inline-flex;
}

.main-title-page h1 {
  font-weight: 400;
  font-size: 2.5rem;
  margin-left:2.5rem;
  color: #fff;
}

.label-container {
  margin-left:calc(50% - 20vh);
  margin-bottom: 3%;
}

.templates-list-select {
  padding: 40px;
  background: white;
  max-width: 40vh;
  cursor: pointer;
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
  max-height: 50vh;
}

.templates-list-select iframe {
  border: 2px solid grey;
}

.templates-list-select .label-template {
  text-align: center;
}

.templates-list-select .description-template {
  text-align: center;
  margin-bottom:4%;
}

.templates-list-data {
  display: flex;
  flex-direction: column;
  background: #b7b7b7;
  width: 30vh;
  height: 30vh;
  margin-top:2%;
}

.templates-list-data .data-list {
  border: 1px solid #666;
  background-color: #c4c4c4;
  width: 20vh;
  padding: 5%;
  border-radius: 2px;
  margin: 2vh;
  cursor: pointer;
}

.templates-list-data label {
  font-size: 1.2rem;
  padding: 5%;
}

.templates-form-data-submit {
  display: inline-flex;
  height: 32vh;
}

.templates-change-submit {
  position: relative;
  left: 5%;
  top: 40%;
  background-color: #919191;
  border: 0;
  padding: 1rem;
  width: 15rem;
  font-size: 1.2rem;
  border-radius: 2px;
  height: 20%;
  cursor: pointer;
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
}

.templates-change-submit:hover {
  background-color: #585858;
  color: #fff;
}

.templates-list-select-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dashboard-box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.smaller-table td {
  padding: 0.5rem 0.5rem;
}

.select-main-container {
  width: 24vh;
}

.select-main {
  background: #888;
  padding: 6%;
  color: #fff;
  display: flex;
  --arrow-rotation: rotate(180deg)
}

.select-main-title {
  width: 88.4%;
}

.select-main-arrow {
  background-image: url('/Images/Icons/arrow_icon.svg');
  width: 1rem;
  height: 1rem;
  /* Firefox */
  -moz-transition: all 50ms ease-in;
  /* WebKit */
  -webkit-transition: all 50ms ease-in;
  /* Opera */
  -o-transition: all 50ms ease-in;
  /* Standard */
  transition: all 50ms ease-in;
  transform: var(--arrow-rotation)
}

.select-main-list {
  background: #666;
  color: #fff;
  padding: 5%;
  /*display: flex;*/
  flex-direction: column;
  display: none;
  /* Firefox */
  -moz-transition: all 100ms ease-in;
  /* WebKit */
  -webkit-transition: all 100ms ease-in;
  /* Opera */
  -o-transition: all 100ms ease-in;
  /* Standard */
  transition: all 100ms ease-in;
  opacity: 0%;
}

.select-main-option {
  margin-bottom: 5%;
  /* Firefox */
  -moz-transition: all 100ms ease-in;
  /* WebKit */
  -webkit-transition: all 100ms ease-in;
  /* Opera */
  -o-transition: all 100ms ease-in;
  /* Standard */
  transition: all 100ms ease-in;
  float:left;
  padding: 1%;
}

.open-flex {
  display:flex !important;
}

.custom-checkbox {
  -webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
  float:left;
  --content-pseudo-default: '\2714';
  --content-pseudo: '';
}

.custom-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}


.custom-checkbox:after {
	content: var(--content-pseudo);
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #111;
}

.select-main-option:hover {
  background-color: #525252;
}

.select-main-option-content {
  float: left;
  line-height: 1.5rem;
  user-select: none;
}

.table-main-container {
  /* Firefox */
  -moz-transition: all 100ms ease-in;
  /* WebKit */
  -webkit-transition: all 100ms ease-in;
  /* Opera */
  -o-transition: all 100ms ease-in;
  /* Standard */
  transition: all 100ms ease-in;
}

.module-add-submit-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.module-add-submit {
  padding: 1.5%;
  width: 28vh;
  background-color: #888;
  border: 0;
  color: #fff;
  font-size: 1.2rem;
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
  cursor:pointer;
}

.module-add-submit:hover{
  background-color:#484848;
}

.modules-edit-header {
  background-color: #fff;
  padding: 2.4%;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  position: fixed;
}

.module-edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  font-size: 3rem;
}

[contenteditable] {
  outline: 0px solid transparent;
}


.button-fixed {
  position: fixed;
}

.button-fixed button {
  background-color: #3a3a3a;
  color: #fff;
  border: 0;
  width: 12rem;
  padding: 8%;
  font-size: 1.0rem;
  margin: 2rem;
  border-radius: 4px;
  cursor: pointer;
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
}

.button-fixed button:hover {
  background-color: #262626;
}


cmsmodule {
  height: max-content;
  width: max-content;
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
}

cmsmodule .module-live-edit-icon {
  width: max-content;
  height: max-content;
  padding: 0.2rem;
  cursor: pointer;
  position: absolute;
  right: 20%;
  border: 1px solid;
}

cmsmodule a {
  text-decoration: none;
}

.add-module-bar {
  background-color: #666;
  color: #fff;
  font-size: 5rem;
  text-align: center;
  width: 60%;
  margin: 5% 20% 5% 20%;
  border-radius: 10px;
  cursor: pointer;
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
}

.add-module-bar:hover {
  background-color: #464646;
}

.module-add-box {
  position: fixed;
  width: 50%;
  height: 50%;
  background-color: #888;
  left: 25%;
  top: 25%;
  border-radius: 10px;
  text-align: center;
  display: none;
}

.module-add-box .module-add-box-title {
  text-align: center;
  margin-top: 4%;
  color: #fff;
  font-size: 2rem;
}

.close-x {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 5px;
  position: absolute;
  top:0;
  right:0;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 0.5rem;
}

.modules-list {
  background: #fff;
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-wrap: wrap;
  max-height: 24rem;
  max-height: 18rem;
  margin: 1rem;
}

.modules-list-item {
  margin: 2%;
  padding: 0.2rem;
  background-color: #888;
  padding: 1.5%;
  color: #fff;
  cursor: pointer;
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
}

.modules-list-item:hover {
  background-color: #4a4a4a;
}

.modules-list-container {
  overflow-y: auto;
}

.load-screen {
  position: fixed;
  z-index: 999999;
  background-color: grey;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 70%;
  display: none;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s, visibility 0.2s;
}

.load-screen:after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #ddd;
  border-top-color: #111;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

.load-screen--hidden {
  opacity: 0;
  visibility: hidden;
}

@keyframes loading {
  from { transform: rotate(0turn)}
  to { transform: rotate(1turn)}
}

.page-settings-box {
  position: fixed;
  width: 80vh;
  height: 40vh;
  padding: 10px;
  background-color: #b3b3b3;
  top: 50%;
  left: 50%;
  margin-top: -20vh;
  margin-left: -40vh;
  border-radius:7px;
  display: none;
  z-index: 999;
  flex-direction: column;
}

.page-settings-box .main-title-container {
  text-align: center;
  height: max-content;
}

.page-settings-box .main-title {
  font-size: 1.5rem;
  padding: 2rem;
}

.page-setting {
  margin: 0.5rem;
  font-size: 1.2rem;
}

.page-setting-value {
  border: 0;
  font-size: 1rem;
  max-height: 12px;
  padding: 0.2rem;
}


.page-setting-container {
  display:flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: max-content;
  flex-direction: center;
}

.modal-popup {
  position: fixed;
  background: #333;
  right: 2%;
  top: 2%;
  width: 38vh;
  padding: 0.8%;
  display: flex;
  flex-direction: column;
  color: #fff;
  z-index: 9999;
  /* Firefox */
  -moz-transition: all 150ms ease-in;
   /* WebKit */
  -webkit-transition: all 150ms ease-in;
   /* Opera */
   -o-transition: all 150ms ease-in;
   /* Standard */
   transition: all 150ms ease-in;
   font-size: 0.8rem;
   -webkit-box-shadow: 16px 19px 28px -1px rgba(66, 68, 90, 1);
   -moz-box-shadow: 16px 19px 28px -1px rgba(66, 68, 90, 1);
   box-shadow: 16px 19px 28px -1px rgba(66, 68, 90, 1);
}

.modal-popup h2 {
  font-weight: 100;
}

.save-btn-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  cursor: pointer;
  width: max-content;
}

.save-btn-settings div {
  background: #666;
  padding: 8%;
  width: 16vh;
  border-radius: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-add-page-container {
  background: #8888;
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
  width: 60%;
  height: 48vh;
}

.form-add-page-container form {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.form-add-page-container form .add-page-input-box {
  padding: 4%;
  display: inline-flex;
}

.form-add-page-container form .add-page-input-box label {
  margin-right: 1rem;
}

.form-add-page-container form .add-page-submit-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-add-page-container form .add-page-submit-box .add-page-submit {
  background-color: #666;
  color: #fff;
  padding: 3%;
  width: 18vh;
  cursor: pointer;
  user-select: none;
}

.form-add-page-container form .add-page-submit-box .add-page-submit:active {
  padding: 3.2%;
}

.edit-open.users {
  cursor: pointer;
}

.edit-users-box {
  position: fixed;
  width: 80vh;
  height: 40vh;
  padding: 10px;
  background-color: #b3b3b3;
  top: 50%;
  left: 50%;
  margin-top: -20vh;
  margin-left: -40vh;
  border-radius:7px;
  z-index: 999;
  flex-direction: column;
}

.edit-admins-box {
  position: fixed;
  width: 80vh;
  height: 40vh;
  padding: 10px;
  background-color: #b3b3b3;
  top: 50%;
  left: 50%;
  margin-top: -20vh;
  margin-left: -40vh;
  border-radius:7px;
  z-index: 999;
  flex-direction: column;
}
.edit-admins-box .main-title-container {
  text-align: center;
  height: max-content;
}

.edit-users-box .main-title-container {
  text-align: center;
  height: max-content;
}

.edit-users-box .main-title {
  font-size: 1.5rem;
  padding: 2rem;
}

.edit-users-setting {
  margin: 0.5rem;
  font-size: 1.2rem;
}

.edit-users-setting-value {
  border: 0;
  font-size: 1rem;
  max-height: 12px;
  padding: 0.2rem;
}

.edit-users-setting-container {
  display:flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: max-content;
  flex-direction: center;
}

.search-form {

}

.search-form .search-input {
  width: 30%;
  margin: 0 0% 0 4%;
  padding: 0.8%;
  border: 1px solid #111;
  background-color: #666;
  color: #fff;
  border-radius: 2px;
  font-size: 1rem;
}

.search-form .search-input::placeholder {
  color: #fff;
}

.search-form .search-input::-moz-placeholder {
  color: #fff;
}

.search-form .search-submit {
  padding: 0.8%;
}

.edit-open.admins {
  cursor: pointer;
}

.input-box-background {
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  top: 0;
  left: 0;
}

.input-box-container {
  position: fixed;
  z-index: 99999;
  left: 50%;
  top: 50%;
  margin-left: -17rem;
  margin-top: -7.05rem;
  background: #5c5c5c;
  width: 34rem;
  height: 14.1rem;
  padding: 2%;
  box-shadow: -1px 4px 14px 0px rgb(0 0 0 / 75%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-box-container .input-box-title {
  padding: 6%;
  font-size: 2.3rem;
  color: #fff;
}

.input-box-container .input-box {
  padding: 4%;
}

.input-box-container .input-box input {
  width: 20rem;
  height: 1rem;
  font-size: 1rem;
  padding: 2%;
  border: 1px solid black;
}

.input-box-container .input-box-submit {
  padding: 5%;
  width: 30%;
}

.input-box-container .input-box-submit button {
  height: 2.5rem;
  width: 100%;
  border-radius: 4px;
  border: 0;
  font-size: 1rem;
  background-color: #2e2e2e;
  color: #fff;
  /* Firefox */
  -moz-transition: all 150ms ease-in;
  /* WebKit */
  -webkit-transition: all 150ms ease-in;
  /* Opera */
  -o-transition: all 150ms ease-in;
  /* Standard */
  transition: all 150ms ease-in;
  cursor:pointer;
}

.input-box-container .input-box-submit button:hover {
  background-color: #afafaf;
  color: #000; 
}

.add-admin-container {
  height: 24rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

.add-admin-option {
  display: flex;
  flex-direction: column;
  width: 16rem;
  padding: 4%;
}

.add-admin-option label {
  margin-bottom: 4.545%;
  /* Firefox */
  -moz-transition: all 50ms ease-in;
  /* WebKit */
  -webkit-transition: all 50ms ease-in;
  /* Opera */
  -o-transition: all 50ms ease-in;
  /* Standard */
  transition: all 50ms ease-in;
}

.add-admin-option input {
  border-top:0;
  border-left:0;
  border-right:0;
  border-bottom: 2px solid black;
  background: transparent;
  border-radius: 1px;
  font-size: 1rem;
  /* Firefox */
  -moz-transition: all 50ms ease-in;
  /* WebKit */
  -webkit-transition: all 50ms ease-in;
  /* Opera */
  -o-transition: all 50ms ease-in;
  /* Standard */
  transition: all 50ms ease-in;
}



.add-admin-option input:focus {
  outline: none;
}


.add-admin-submit-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.add-admin-submit-box input {
  width: 50%;
  padding: 4%;
  border: 0;
  background: #111;
  color: #fff;
  outline: none;
  font-size: 0.8rem;
  cursor: pointer;
}

.wysiwyg-container {
  position: fixed;
  display: flex;
  background: #fff;
  width: 24rem;
  padding: 0.5rem;
  box-shadow: 17px 17px 79px -8px rgba(66, 68, 90, 1);
}

.wysiwyg-container .wysiwyg-option {
  margin-left: 2%;
  margin-right: 2%;
  font-size: 1.2rem;
  border: 1px solid #b9b9b9;
  width: 1.6rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer !important;
  user-select: none;
  /* Firefox */
  -moz-transition: all 50ms ease-in;
  /* WebKit */
  -webkit-transition: all 50ms ease-in;
  /* Opera */
  -o-transition: all 50ms ease-in;
  /* Standard */
  transition: all 50ms ease-in;
}

.wysiwyg-container .wysiwyg-option input {
  cursor: pointer !important;
}

.wysiwyg-container .wysiwyg-option select {
  cursor: pointer !important;
}

.wysiwyg-container .wysiwyg-option.font-size {
  width: max-content;
}
.wysiwyg-container .wysiwyg-option.bold {
  font-weight: bold;
}

.wysiwyg-container .wysiwyg-option.italic {
  font-style: italic;
}

.wysiwyg-container .wysiwyg-option.underline {
  text-decoration: underline;
}

.wysiwyg-container .wysiwyg-option.color {
  text-decoration: underline;
}

.wysiwyg-container .wysiwyg-option.active {
  background-color: #e1e1e1;
}

.module-text-container {
  text-align: center;
}

.module-title-container h2 {
  text-align: center;
  font-size: 2.6em;
}