body {
  font-family: "Lato", sans-serif;
  opacity : 100% !important;
  background-color:#dfdfdf;
  margin:0;
  overflow-x: hidden;
}

.main {
  padding-top: calc(4vh + 0.8%);
  margin-left: 20.01vh; /* Same as the width of the sidenav */
}

.sidenav {
  height: 100%;
  width: 20vh;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}


.sidenav button {
  padding: 6px 6px 6px 32px;
  font-size: 1.2rem;
  color: #818181;
  display: flex;
  margin-bottom: 2vh;
  /* Firefox */
  -moz-transition: all 200ms ease-in;
   /* WebKit */
  -webkit-transition: all 200ms ease-in;
   /* Opera */
   -o-transition: all 200ms ease-in;
   /* Standard */
   transition: all 200ms ease-in;
   background: none;
   border: none;
   cursor:pointer;
   width: 100%;
   padding:6%;
   align-items: center;
   justify-content: center;
  }

.sidenav button:hover {
  color: #f1f1f1;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 0.9rem;}
  .sidenav button {font-size: 1.125rem;}
}

.dashboard-box {
    background: #fff;
    padding: 3vh;
    margin: 2vh;
    -webkit-box-shadow: 0px 13px 43px -13px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 13px 43px -13px rgba(66, 68, 90, 1);
    box-shadow: 0px 13px 43px -13px rgba(66, 68, 90, 1);
    height: 18vh;
    display: inline-flex;
}


.solid-chart-container {
    position: relative;
    width: 60vh !important;
    height: 20vh !important;
}

.header-admin-panel {
  width: 100%;
  background: #111;
  position: fixed;
  z-index: 999;
  padding: 0.8%;
  
}

.header-admin-user {
  display: flex;
  justify-content: right;
  margin-right: 4%;
}

.header-admin-user span {
  color: #fff;
  margin-right: 2vh;
  position: relative;
  top: 0.5vh;
    /* Firefox */
  -moz-transition: all 200ms ease-in;
    /* WebKit */
  -webkit-transition: all 200ms ease-in;
    /* Opera */
  -o-transition: all 200ms ease-in;
    /* Standard */
  transition: all 200ms ease-in;
}

.header-admin-user span:hover {
  color:#888888;
}


.header-admin-profile {
  background-size: cover;
  width: 28px;
  border-radius: 30px;
  height:28px;
  cursor:pointer;
     /* Firefox */
  -moz-transition: all 200ms ease-in;
     /* WebKit */
  -webkit-transition: all 200ms ease-in;
     /* Opera */
  -o-transition: all 200ms ease-in;
     /* Standard */
  transition: all 200ms ease-in;
  position:relative;
}

.header-admin-profile:hover {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

.header-admin-profile-context-menu {
  color:#fff;
  padding: 2%;
  background-color: #111;
  position: fixed;
  top: 5%;
  left: 87%;
  display:none;
  
}

.header-admin-profile-context-menu ol {
  padding:0;
  margin:0;
  display: grid;
  justify-items: center;
}

.header-admin-profile-context-menu ol li {
  list-style: none;
  width:100%;
  margin: 1.2vh;
  cursor: pointer;
  position:relative;
  padding: 0.5rem;
  font-size: 0.9rem;
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
}

.header-admin-profile-context-menu ol li:hover {
  background-color: #323232
}

.header-admin-profile-context-menu ol li:after {
  margin-bottom: -6%;
  content: "";
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
}

.system-info-box ol {
  list-style: disc;
}

.modules-add {
  /* flex-direction: column !important; */
}

.modules-add-right {
  display: inline-flex;
  justify-content: left;
  text-align: left;
}

.modules-add-list-box {
  display:none;
}

.modules-add-list-box ol {
  list-style:disc;
}

.modules-add-list-box ol li {
  margin-bottom: 5%;
}

.modules-add-list-box ol li a {
  color: #000;
  text-decoration: none;
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
}

.modules-add-list-box ol li a:hover {
  color: #888888;
}



.collapsible-sidenav-content {
  display: none;
  opacity: 0%;
  /* Firefox */
  -moz-transition: all 100ms ease-in;
  /* WebKit */
  -webkit-transition: all 100ms ease-in;
  /* Opera */
  -o-transition: all 100ms ease-in;
  /* Standard */
  transition: all 100ms ease-in;
}

.collapsible-sidenav-content ol {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size:1.0rem;
}

.collapsible-sidenav-content ol li {
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
  color: #818181;
  padding:0;
  margin-bottom: 1rem;
  cursor:pointer;
}

.collapsible-sidenav-content ol a {
  text-decoration: none;
}

.collapsible-sidenav-content ol li:hover {
  color: #fff;
}

.collapsible-sidenav-content .space-line{
  width: 24vh;
  height: 1px;
  background-color: #818181;
  display: flex;
  position: relative;
  margin-top:10%;
  right:20%;
}



.h2-main-add-templates {
  font-weight: 500;
  margin-top: 4vh;
  font-size: 1.8rem;
  margin-left:calc(50% - 20vh);
}

.form-add-template {
  /*margin-left: 6vh;*/
}

.form-add-template label {
  font-size: 1.5rem;
  
}

.form-add-template table {
  background-color: #686868;
  border-collapse: collapse;
  margin: 3vh 3vh 3vh 2vh;
  font-size: 0.9em;
  font-family: sans-serif;
  color: #ffffff;
  width: calc(95%);
}

.form-add-template table thead tr {
  background-color: #111;
  text-align: left;
}

.form-add-template table th,
.form-add-template table td {
  padding: 1rem 0.9375rem;
  font-weight: 100;
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
}


.form-add-template table tbody tr {
  border-bottom: 1px solid #dddddd;
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
}

.check-icon {
  position:sticky;
  height: 3rem;
  width: 3rem;
  top:0;
  right:0;
  --checkicon-b-background: #fff;
  --checkicon-a-background: #fff;
  cursor:pointer;
}

.check-icon:before {
  content: '';
  width: 1.5rem;
  height: 0.4rem;
  position: absolute;
  transform: translate(-100%, 100%) rotate(40deg);
  border-radius: 0.4rem;
  top:50%;
  left:50%;
  background: var(--checkicon-b-background);
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
}

.check-icon:after {
  content: '';
  width: 2.4rem;
  height: 0.4rem;
  position: absolute;
  transform: translate(-30%, 0%) rotate(-45deg);
  border-radius: 0.4rem;
  top:50%;
  left:50%;
  background: var(--checkicon-a-background);
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
}

.active-row-pages-templates {
  background-color: #424242 !important;
}

.templates-select-current {
  position: relative;
  background-color: #888888;
  padding: 0.9rem;
  width: 12rem;
  font-size: 1rem;
  cursor:pointer;
  color:#111;
  --arrow-select-transform: rotate(0deg);
}

.templates-select-current:after {
  content: "";
  position:absolute;
  /* Firefox */
  -moz-transition: all 100ms ease-in;
  /* WebKit */
  -webkit-transition: all 100ms ease-in;
  /* Opera */
  -o-transition: all 100ms ease-in;
  /* Standard */
  transition: all 100ms ease-in;
  background-image: url('/Images/Icons/arrow_icon.svg');
  height: 15px;
  width: 15px;
  left: 85%;
  transform: var(--arrow-select-transform);
}

.templates-select {
  display:none;
  opacity:0%;
  /* Firefox */
  -moz-transition: all 100ms ease-in;
  /* WebKit */
  -webkit-transition: all 100ms ease-in;
  /* Opera */
  -o-transition: all 100ms ease-in;
  /* Standard */
  transition: all 100ms ease-in;
  background-color: #b9b9b9;
  width:12rem;
  padding:0.9rem;
  max-height: 20rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.templates-select-option {
  display:block;
  margin-bottom: 0.3vh;
  padding: 2%;
  width: 100%;
}

.templates-select-option {
  display:block;
  margin-bottom: 0.3vh;
  padding: 3%;
  width: 100%;
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
}

.templates-select-option:hover {
  background-color: #858383;
}

.main-add-templates-box {
  padding: 0.1vh;
  background-color: #b5b4b4;
  width:100%;
  margin-bottom:4vh;
}

.main-title-page {
  padding: 0.1vh;
  background-color: #666;
  width:100%;
  display: inline-flex;
  
}

.main-title-page h1 {
  font-weight: 400;
  font-size: 2.5rem;
  margin-left:2.5rem;
  color: #fff;
}

.label-container {
  margin-left:calc(50% - 20vh);
  margin-bottom: 3%;
}

.templates-list-select {
  padding: 40px;
  background: white;
  max-width: 40vh;
  cursor: pointer;
  /* Firefox */
  -moz-transition: all 200ms ease-in;
  /* WebKit */
  -webkit-transition: all 200ms ease-in;
  /* Opera */
  -o-transition: all 200ms ease-in;
  /* Standard */
  transition: all 200ms ease-in;
  max-height: 50vh;
}

.templates-list-select iframe {
  border: 2px solid grey;
}

.templates-list-select .label-template {
  text-align: center;
}

.templates-list-select .description-template {
  text-align: center;
  margin-bottom:4%;
}

.templates-list-data {
  display: flex;
  flex-direction: column;
  background: #b7b7b7;
  width: 30vh;
  height: 30vh;
  margin-top:2%;
}

.templates-list-data .data-list {
  border: 1px solid #666;
  background-color: #c4c4c4;
  width: 20vh;
  padding: 5%;
  border-radius: 2px;
  margin: 2vh;
  cursor: pointer;
}

.templates-list-data label {
  font-size: 1.2rem;
  padding: 5%;
}