body {
  font-family: "Lato", sans-serif;
  opacity : 100% !important;
  background-color:#dfdfdf;
  margin:0;
}

.main {
  padding-top: calc(4vh + 0.8%);
}

.sidenav {
  height: 100%;
  width: 24vh;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #818181;
  display: flex;
  justify-content: left;
  margin-bottom: 4vh;
    /* Firefox */
  -moz-transition: all 200ms ease-in;
    /* WebKit */
  -webkit-transition: all 200ms ease-in;
    /* Opera */
   -o-transition: all 200ms ease-in;
    /* Standard */
   transition: all 200ms ease-in;
  
  
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 24vh; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.dashboard-box {
    background: #fff;
    padding: 3vh;
    margin: 2vh;
    -webkit-box-shadow: 0px 13px 43px -13px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 13px 43px -13px rgba(66, 68, 90, 1);
    box-shadow: 0px 13px 43px -13px rgba(66, 68, 90, 1);
}

.welcome-box {
    display: inline-flex;
}

.solid-chart-container {
    position: relative;
    width: 60vh !important;
    height: 20vh !important;
}

.header-admin-panel {
  width: 100%;
  background: #111;
  position: fixed;
  z-index: 999;
  padding: 0.8%;
  
}

.header-admin-user {
  display: flex;
  justify-content: right;
  margin-right: 4%;
}

.header-admin-user span {
  color: #fff;
  margin-right: 2vh;
  position: relative;
  top: 0.5vh;
    /* Firefox */
  -moz-transition: all 200ms ease-in;
    /* WebKit */
  -webkit-transition: all 200ms ease-in;
    /* Opera */
  -o-transition: all 200ms ease-in;
    /* Standard */
  transition: all 200ms ease-in;
}

.header-admin-user span:hover {
  color:#888888;
}


.header-admin-profile {
  background-size: cover;
  width: 28px;
  border-radius: 30px;
  height:28px;
  cursor:pointer;
     /* Firefox */
  -moz-transition: all 200ms ease-in;
     /* WebKit */
  -webkit-transition: all 200ms ease-in;
     /* Opera */
  -o-transition: all 200ms ease-in;
     /* Standard */
  transition: all 200ms ease-in;
  position:relative;
}

.header-admin-profile:hover {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

.header-admin-profile-context-menu {
  color:#fff;
  padding: 2%;
  background-color: #111;
  position: fixed;
  top: 5%;
  left: 87%;
  display:none;
  
}

.header-admin-profile-context-menu ol {
  padding:0;
  margin:0;
  display: grid;
  justify-items: center;
}

.header-admin-profile-context-menu ol li {
  list-style: none;
  width:100%;
  margin: 1.2vh;
  cursor: pointer;
  position:relative;
  padding: 0.5rem;
  font-size: 0.9rem;
     /* Firefox */
  -moz-transition: all 200ms ease-in;
     /* WebKit */
  -webkit-transition: all 200ms ease-in;
     /* Opera */
  -o-transition: all 200ms ease-in;
     /* Standard */
  transition: all 200ms ease-in;
}

.header-admin-profile-context-menu ol li:hover {
  background-color: #323232
}

.header-admin-profile-context-menu ol li:after {
  margin-bottom: -6%;
  content: "";
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
}

.system-info-box {
  display: inline-flex;
}

.system-info-box ol {
  list-style: disc;
}
